# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Desktop\FINKI\cetvrt semestar\Softversko inzenerstvo\Laboratirski vezbi\SI_2021_lab2_193113\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
